/* @import '~antd/dist/antd.css'; */

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.Appcontainer{
  width: 500px;
  display: flex;
  flex-direction:column;
  margin:auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px 4px #bfbfbf;
  border-radius: 5;
  height: 90vh;
}